*{
    margin: 0;
    padding: 0;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;

}



#banner {
    width: 40%;

}

#basket-img{
    margin-left: 25px;
    width: 6em;
}


main {
    display: flex;
    justify-content: center;
}

#pizza-container{
    display: flex;
    flex-wrap: wrap;
    
    width: 50em;
    justify-content: center;
    align-self: auto;
}

.pizza-card{
    display: flex;
    flex: 0 0 50%;
    justify-content: center;
    
    
}

.pizza-card img{
    width: 35%;
}

.info-container{
    padding-top: 30px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    width: 12em;
    
}

.info-container h3{
    font-family: Arial, Helvetica, sans-serif;
}

.info-container ul{
    font-family: Arial, Helvetica, sans-serif;
    padding-top: 5px;
    color: rgb(75, 75, 75);
    font-size: 0.9em;
}

.button-container{
    padding-top: 10px;
}

.customize-button{
    font-size: 0.8em;
    background: none;
    border: none;
    background-color: rgb(255, 239, 188);
    border-radius: 5px;
    width: 7em;
    height: 2em;
    box-shadow: none;
    cursor: pointer;
}

.purchase-button{
    font-size: 0.8em;
    background: none;
    border: none;
    background-color: rgba(70, 162, 8, 0.772);
    border-radius: 5px;
    width: 7em;
    height: 2em;
    box-shadow: none;
    cursor: pointer;
}